<%- include('partials/head') %>

<main>
	<div class="chart">
		<canvas id="inside_chart"></canvas>
	</div>

	<div class="chart">
		<canvas id="outside_chart"></canvas>
	</div>

</main>

<%- include('scripts/inside_chart') %>
<%- include('scripts/outside_chart') %>

<%- include('partials/footer') %>